<%-include('header.ejs')%> 
    
<form action="/loginProc" method="post" >
    <ul>
        <li> 로그인 </li>                
         <li> 아이디 : <input type="text" name="user_id"  required ></li>
         <li> 비밀번호 : <input type="password" name="pw" required></li>
         
        <button>로그인</button>
    </ul>
</form>

<%-include('footer.ejs')%>     