<%-include('header.ejs')%> 
    

    <ul>
        <li> 이름 : 구명석(서기)</li>
        <li> 이메일 : singsinghe@gmail.com</li>
        <li> 주소 : 서울에 살고 싶어요~ </li>
        
    </ul>


<%-include('footer.ejs')%>     